 
       #map {
        height: 100%;
        flex: 2;
      }
      
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: rgb(17, 17, 17)
      }

      .clock-canvas{
        
        flex: 1;
          background-color: rgb(17, 17, 17);
          color: white;
      }

      .boday-conatiner{
          display: flex;
          height: 100%;
      } 